% vi: ft=erlang
{erl_opts, [debug_info]}.

{deps, []}.

{escript, [{main_module, decent}]}.

{plugins, [steamroller]}.

{
    steamroller,
    [
        {line_length, 80},
        {indent, 4},
        {inputs, ["rebar.config", "{src,test,include}/*.{[he]rl,app.src}"]}
    ]
}.

{cover_enabled, true}.

{cover_export_enabled, true}.

{cover_print_enabled, true}.

{eunit_tests, [{module, decent_protocol_tests}]}.

{profiles, [{test, [{erl_opts, [debug_info]}, {src_dirs, ["src", "tests"]}]}]}.

{shell, [{config, "config/sys.config"}, {apps, [decent, logger]}]}.
