{erl_opts, [{i, "./_build/default/plugins/gpb/include/"}, debug_info]}.
{plugins, [{rebar3_gpb_plugin, "2.10.0"}]}.

{gpb_opts, [{i, "proto"},
        {o_erl, "src"},
        {o_hrl, "include"}]}.

{provider_hooks, [
    {pre, [{compile, {protobuf, compile}}]}
]}.

{deps, []}.
{escript, [
  {main_module, decent}
]}.
{shell, [
  % {config, "config/sys.config"},
    {apps, [decent]}
]}.
